/* ==UserStyle==
@name           come back twitter-JP
@namespace      https://github.com/toarugema/come_back_twitter-JP
@version        1.0.4
@description    要らないものを消してポストをツイートに戻します
@author         toarugema
==/UserStyle== */
@-moz-document url-prefix("https://x.com/") {
    
    /*
    おすすめTLを削除
    おすすめTLを既に使っている場合おすすめTLのみになってしまうので、一度カスタムCSSをオフにしてホームを選択してください。
    またリストTLを使っている場合は恐らく1つのTLしか見れなくなっていますのでコメントアウト推奨です。
    */
    div.css-175oi2r.r-14tvyh0.r-cpa5s6.r-16y2uox:has(>a[href*="/home"][aria-selected="false"]>div.css-175oi2r>div.css-146c3p1.r-bcqeeo.r-1ttztb7.r-qvutc0.r-1tl8opc.r-a023e6.r-rjixqe.r-majxgm.r-1awozwy.r-6koalj.r-18u37iz.r-1pi2tsx.r-1777fci.r-1l7z4oj.r-95jzfe.r-bnwqim>span.css-1jxf684.r-bcqeeo.r-1ttztb7.r-qvutc0.r-1tl8opc){
        
        display: none;
        
    }

    /*
    フォロー中の左に出てくるボタンを削除
    もし、コレのせいでリストTLとかに切り替えられなくなった場合、コメントアウトの上連絡を頂ければ幸いです。
    */
    div.css-175oi2r.r-1537yvj.r-u8s1d.r-184en5c{
        
        display: none;
        
    }
    
    /*
    プレミアムにサブスクライブを削除
    */
    div.css-175oi2r.r-kemksi.r-1kqtdi0.r-1q9bdsx.r-rs99b7{
        
        display: none;
        
    }
    
    /*
    Grokを削除
    from : https://userstyles.world/style/17150/hide-gay-elon-shit
    */
    a[href*='grok'] {
        display: none;
    }

    /*
    プレミアムを削除
    from : https://userstyles.world/style/17150/hide-gay-elon-shit
    */
    a[href*='premium_sign_up'] {
        display: none;
    }

    /*
    認証済み組織を削除
    */
    a[href*='verified-orgs-signup'] {
        display: none;
    }
    
    /*
    収益化を削除
    */
    a[href*='monetization']{
        display: none;
    }
    
    /*
    広告を削除
    */
    a[href*='gl-tw-tw-twitter-ads-rweb']{
        display: none;
    }
    
    /*
    求人を削除
    */
    a[href*='jobs']{
        display: none;
    }
    
    /*
    プレミアムにサブスクライブを削除
    */
    div.css-175oi2r.r-kemksi.r-1kqtdi0.r-1867qdf.r-1phboty.r-rs99b7.r-1ifxtd0.r-1udh08x:has(>aside.css-175oi2r.r-1habvwh.r-eqz5dr.r-uaa2di.r-1mmae3n.r-3pj75a.r-bnwqim){
        display: none;        
    }
    
    
    /*
    「いま」を見つけようを削除    
    */
    div.css-175oi2r.r-kemksi.r-1kqtdi0.r-1867qdf.r-1phboty.r-rs99b7.r-1ifxtd0.r-1udh08x:has(>section.css-175oi2r){
        display: none;
    }
    
    
    /*
    まだ認証されていませんを削除
    */
    div.css-175oi2r.r-1q9bdsx.r-18u37iz.r-1h0z5md.r-1xpp3t0.r-1udh08x{    
        display: none;
    }
    
    
    /*
    右下のDMを削除
    */
    
    div.css-175oi2r.r-173mn98.r-1rtiivn.r-hvns9x.r-1jte41z.r-y42jk5 {
        display: none;
    }
    
    
    /*
    サイドバーなどのフォントサイズを弄る（コミュニティノートが全て表示されない為）
    */
    .r-adyw6z {
        font-size: 19px;
    }
    
    
    /*
    Xを鳥に戻す
    from : https://gist.github.com/Y-dash/6bc973a1fab0134212de4cc47bb6791e#file-twitter-is-twitter-css
    元のCSSから鳥の色を変更
    */
    path[d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"] {
        
        d: path("M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z") !important;
        /*
        fill: inherit !important;
        */
        fill: rgb(77, 168, 224) !important;

    }
    
    
    /*
    ダルマ版のXを鳥に戻す
    */
    path[d="M18.436 1.92h3.403l-7.433 8.495 8.745 11.563h-6.849l-5.363-7.012-6.136 7.012H1.4l7.951-9.088L.96 1.92h7.02l4.848 6.41 5.608-6.41zm-1.194 18.021h1.886L6.958 3.851H4.933l12.308 16.09z"]{
        
        d: path("M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z") !important;
        
        fill: rgb(77, 168, 224) !important;
        
    }
        
    
    /*
    ポストするをツイートするに変える
    */
    
    /*左サイドバー*/
    
    /*色を水色に戻す*/
    a.css-175oi2r.r-sdzlij.r-1phboty.r-rs99b7.r-lrvibr.r-19yznuf.r-64el8z.r-1fkl15p.r-o7ynqc.r-6416eg.r-1ny4l3l.r-1loqt21{
        
        background-color: rgb(60, 134, 216) !important;
        
    } 
    a.css-175oi2r.r-sdzlij.r-1phboty.r-rs99b7.r-lrvibr.r-19yznuf.r-64el8z.r-1fkl15p.r-o7ynqc.r-6416eg.r-1ny4l3l.r-1loqt21>div.css-146c3p1.r-bcqeeo.r-qvutc0.r-1tl8opc.r-q4m81j.r-a023e6.r-rjixqe.r-b88u0q.r-1awozwy.r-6koalj.r-18u37iz.r-16y2uox.r-1777fci{
            
        color: rgb(255, 255, 255) !important;
            
    }
    
    a.css-175oi2r.r-sdzlij.r-1phboty.r-rs99b7.r-lrvibr.r-19yznuf.r-64el8z.r-1fkl15p.r-o7ynqc.r-6416eg.r-1ny4l3l.r-1loqt21>div.css-146c3p1.r-bcqeeo.r-qvutc0.r-1tl8opc.r-q4m81j.r-a023e6.r-rjixqe.r-b88u0q.r-1awozwy.r-6koalj.r-18u37iz.r-16y2uox.r-1777fci>span.css-1jxf684.r-bcqeeo.r-1ttztb7.r-qvutc0.r-1tl8opc:has(>div>div.css-175oi2r.r-xoduu5){
        
        font-size: 0px;
    }

    a.css-175oi2r.r-sdzlij.r-1phboty.r-rs99b7.r-lrvibr.r-19yznuf.r-64el8z.r-1fkl15p.r-o7ynqc.r-6416eg.r-1ny4l3l.r-1loqt21>div.css-146c3p1.r-bcqeeo.r-qvutc0.r-1tl8opc.r-q4m81j.r-a023e6.r-rjixqe.r-b88u0q.r-1awozwy.r-6koalj.r-18u37iz.r-16y2uox.r-1777fci>span.css-1jxf684.r-bcqeeo.r-1ttztb7.r-qvutc0.r-1tl8opc:has(>div>div.css-175oi2r.r-xoduu5):before{
        
        position: relative;
        top: 12.5px;
        font-size: 17px;
        content:"ツイートする";

    }
    
    
    /*
    幅を狭くした時のUIに対応
    */
    div.css-175oi2r.r-e7q0ms.r-1awozwy.r-12kyg2d>a.css-175oi2r.r-sdzlij.r-1phboty.r-rs99b7.r-lrvibr.r-19yznuf.r-64el8z.r-o7ynqc.r-6416eg.r-1ny4l3l.r-1loqt21{
        
        background-color: rgb(60, 134, 216) !important;
        
    }
    
    svg.r-4qtqp9.r-yyyyoo.r-dnmrzs.r-bnwqim.r-lrvibr.r-m6rgpd.r-1472mwg.r-lrsllp{
        
        color: rgb(255, 255, 255) !important;
        
    }
    
    button.css-175oi2r.r-sdzlij.r-1phboty.r-rs99b7.r-lrvibr.r-15ysp7h.r-4wgw6l.r-3pj75a.r-o7ynqc.r-6416eg.r-icoktb.r-1ny4l3l>div.css-146c3p1.r-bcqeeo.r-qvutc0.r-1tl8opc.r-q4m81j.r-a023e6.r-rjixqe.r-b88u0q.r-1awozwy.r-6koalj.r-18u37iz.r-16y2uox.r-1777fci>span.css-1jxf684.r-dnmrzs.r-1udh08x.r-3s2u2q.r-bcqeeo.r-1ttztb7.r-qvutc0.r-1tl8opc.r-1b43r93.r-1cwl3u0>span.css-1jxf684.r-bcqeeo.r-1ttztb7.r-qvutc0.r-1tl8opc{
        
        font-size: 0px;
        
    }

    button.css-175oi2r.r-sdzlij.r-1phboty.r-rs99b7.r-lrvibr.r-15ysp7h.r-4wgw6l.r-3pj75a.r-o7ynqc.r-6416eg.r-icoktb.r-1ny4l3l>div.css-146c3p1.r-bcqeeo.r-qvutc0.r-1tl8opc.r-q4m81j.r-a023e6.r-rjixqe.r-b88u0q.r-1awozwy.r-6koalj.r-18u37iz.r-16y2uox.r-1777fci>span.css-1jxf684.r-dnmrzs.r-1udh08x.r-3s2u2q.r-bcqeeo.r-1ttztb7.r-qvutc0.r-1tl8opc.r-1b43r93.r-1cwl3u0>span.css-1jxf684.r-bcqeeo.r-1ttztb7.r-qvutc0.r-1tl8opc:before{
        
        position: relative;
        top: 2.5px;
        font-size: 15px;
        content:"ツイート";
        
    }
    
    button.css-175oi2r.r-sdzlij.r-1phboty.r-rs99b7.r-lrvibr.r-15ysp7h.r-4wgw6l.r-3pj75a.r-1loqt21.r-o7ynqc.r-6416eg.r-1ny4l3l[data-testid="tweetButton"]>div.css-146c3p1.r-bcqeeo.r-qvutc0.r-1tl8opc.r-q4m81j.r-a023e6.r-rjixqe.r-b88u0q.r-1awozwy.r-6koalj.r-18u37iz.r-16y2uox.r-1777fci>span.css-1jxf684.r-dnmrzs.r-1udh08x.r-3s2u2q.r-bcqeeo.r-1ttztb7.r-qvutc0.r-1tl8opc.r-1b43r93.r-1cwl3u0>span.css-1jxf684.r-bcqeeo.r-1ttztb7.r-qvutc0.r-1tl8opc{
        
        font-size: 0px;
        
    }
    
    button.css-175oi2r.r-sdzlij.r-1phboty.r-rs99b7.r-lrvibr.r-15ysp7h.r-4wgw6l.r-3pj75a.r-1loqt21.r-o7ynqc.r-6416eg.r-1ny4l3l[data-testid="tweetButton"]>div.css-146c3p1.r-bcqeeo.r-qvutc0.r-1tl8opc.r-q4m81j.r-a023e6.r-rjixqe.r-b88u0q.r-1awozwy.r-6koalj.r-18u37iz.r-16y2uox.r-1777fci>span.css-1jxf684.r-dnmrzs.r-1udh08x.r-3s2u2q.r-bcqeeo.r-1ttztb7.r-qvutc0.r-1tl8opc.r-1b43r93.r-1cwl3u0>span.css-1jxf684.r-bcqeeo.r-1ttztb7.r-qvutc0.r-1tl8opc:before{
        
        position: relative;
        top: 2.5px;
        font-size: 15px;
        content:"ツイート";
        
    }
    
    
    /*
    TL上部ツイート画面
    ツイートポップアップ
    */
    button.css-175oi2r.r-sdzlij.r-1phboty.r-rs99b7.r-lrvibr.r-1cwvpvk.r-2yi16.r-1qi8awa.r-3pj75a.r-o7ynqc.r-6416eg.r-icoktb.r-1ny4l3l{

        background-color: rgb(60, 134, 216) !important;
        
    }    
    
    button.css-175oi2r.r-sdzlij.r-1phboty.r-rs99b7.r-lrvibr.r-1cwvpvk.r-2yi16.r-1qi8awa.r-3pj75a.r-o7ynqc.r-6416eg.r-icoktb.r-1ny4l3l>div.css-146c3p1.r-bcqeeo.r-qvutc0.r-1tl8opc.r-q4m81j.r-a023e6.r-rjixqe.r-b88u0q.r-1awozwy.r-6koalj.r-18u37iz.r-16y2uox.r-1777fci{
        
        color: rgb(255, 255, 255) !important;
        
    }
    
    button.css-175oi2r.r-sdzlij.r-1phboty.r-rs99b7.r-lrvibr.r-1cwvpvk.r-2yi16.r-1qi8awa.r-3pj75a.r-o7ynqc.r-6416eg.r-icoktb.r-1ny4l3l>div.css-146c3p1.r-bcqeeo.r-qvutc0.r-1tl8opc.r-q4m81j.r-a023e6.r-rjixqe.r-b88u0q.r-1awozwy.r-6koalj.r-18u37iz.r-16y2uox.r-1777fci>span.css-1jxf684.r-dnmrzs.r-1udh08x.r-3s2u2q.r-bcqeeo.r-1ttztb7.r-qvutc0.r-1tl8opc.r-a023e6.r-rjixqe{
        
        font-size: 0px;
        
    }
    
    button.css-175oi2r.r-sdzlij.r-1phboty.r-rs99b7.r-lrvibr.r-1cwvpvk.r-2yi16.r-1qi8awa.r-3pj75a.r-o7ynqc.r-6416eg.r-icoktb.r-1ny4l3l>div.css-146c3p1.r-bcqeeo.r-qvutc0.r-1tl8opc.r-q4m81j.r-a023e6.r-rjixqe.r-b88u0q.r-1awozwy.r-6koalj.r-18u37iz.r-16y2uox.r-1777fci>span.css-1jxf684.r-dnmrzs.r-1udh08x.r-3s2u2q.r-bcqeeo.r-1ttztb7.r-qvutc0.r-1tl8opc.r-a023e6.r-rjixqe:before{
        
        position: relative;
        top: 2.5px;
        font-size: 15px;
        content:"ツイート";
        
    }
    
    /*
    TL上部ツイート画面（ツイート内容入力時）
    ツイートポップアップ
    */
    button.css-175oi2r.r-sdzlij.r-1phboty.r-rs99b7.r-lrvibr.r-1cwvpvk.r-2yi16.r-1qi8awa.r-3pj75a.r-1loqt21.r-o7ynqc.r-6416eg.r-1ny4l3l{
        background-color: rgb(60, 134, 216) !important;
    }
    
    
    button.css-175oi2r.r-sdzlij.r-1phboty.r-rs99b7.r-lrvibr.r-1cwvpvk.r-2yi16.r-1qi8awa.r-3pj75a.r-1loqt21.r-o7ynqc.r-6416eg.r-1ny4l3l>div.css-146c3p1.r-bcqeeo.r-qvutc0.r-1tl8opc.r-q4m81j.r-a023e6.r-rjixqe.r-b88u0q.r-1awozwy.r-6koalj.r-18u37iz.r-16y2uox.r-1777fci{
        
        color: rgb(255, 255, 255) !important;
        
    }
    
    button.css-175oi2r.r-sdzlij.r-1phboty.r-rs99b7.r-lrvibr.r-1cwvpvk.r-2yi16.r-1qi8awa.r-3pj75a.r-1loqt21.r-o7ynqc.r-6416eg.r-1ny4l3l>div.css-146c3p1.r-bcqeeo.r-qvutc0.r-1tl8opc.r-q4m81j.r-a023e6.r-rjixqe.r-b88u0q.r-1awozwy.r-6koalj.r-18u37iz.r-16y2uox.r-1777fci>span.css-1jxf684.r-dnmrzs.r-1udh08x.r-3s2u2q.r-bcqeeo.r-1ttztb7.r-qvutc0.r-1tl8opc.r-a023e6.r-rjixqe{
        
        font-size: 0px;
        
    }
    
    button.css-175oi2r.r-sdzlij.r-1phboty.r-rs99b7.r-lrvibr.r-1cwvpvk.r-2yi16.r-1qi8awa.r-3pj75a.r-1loqt21.r-o7ynqc.r-6416eg.r-1ny4l3l>div.css-146c3p1.r-bcqeeo.r-qvutc0.r-1tl8opc.r-q4m81j.r-a023e6.r-rjixqe.r-b88u0q.r-1awozwy.r-6koalj.r-18u37iz.r-16y2uox.r-1777fci>span.css-1jxf684.r-dnmrzs.r-1udh08x.r-3s2u2q.r-bcqeeo.r-1ttztb7.r-qvutc0.r-1tl8opc.r-a023e6.r-rjixqe:before{
        
        position: relative;
        top: 2.5px;
        font-size: 15px;
        content:"ツイート";
        
    }
    
    /*
    いいねをふぁぼに戻す
    */
    /*
    ふぁぼる前
    */
    path[d="M16.697 5.5c-1.222-.06-2.679.51-3.89 2.16l-.805 1.09-.806-1.09C9.984 6.01 8.526 5.44 7.304 5.5c-1.243.07-2.349.78-2.91 1.91-.552 1.12-.633 2.78.479 4.82 1.074 1.97 3.257 4.27 7.129 6.61 3.87-2.34 6.052-4.64 7.126-6.61 1.111-2.04 1.03-3.7.477-4.82-.561-1.13-1.666-1.84-2.908-1.91zm4.187 7.69c-1.351 2.48-4.001 5.12-8.379 7.67l-.503.3-.504-.3c-4.379-2.55-7.029-5.19-8.382-7.67-1.36-2.5-1.41-4.86-.514-6.67.887-1.79 2.647-2.91 4.601-3.01 1.651-.09 3.368.56 4.798 2.01 1.429-1.45 3.146-2.1 4.796-2.01 1.954.1 3.714 1.22 4.601 3.01.896 1.81.846 4.17-.514 6.67z"]{
        
        d: path("M 18.4,22.2 C 17.6,22.6 13.1,19.2 12.3,19.2 11.4,19.2 7,22.7 6.3,22.3 5.6,21.8 7.6,16.3 7.3,15.5 7.1,14.8 2.2,11.7 2.5,10.9 2.7,10.1 8.5,10.4 9.2,9.8 9.7,9.3 11.2,3.7 12.1,3.7 12.9,3.7 14.5,9.2 15.1,9.7 15.8,10.3 21.6,9.9 21.9,10.7 22.1,11.4 17.4,14.8 17,15.4 16.8,16.3 18.9,21.6 18.4,22.2 Z") !important;
        
        fill-opacity: 0;
        stroke: rgb(113, 118, 123);
        stroke-width: 1.95;
        
        transition-timing-function: ease-out;
        transition-duration: 0.125s;
                
    }
    
    
    /*
    ふぁぼった後
    */
    path[d="M20.884 13.19c-1.351 2.48-4.001 5.12-8.379 7.67l-.503.3-.504-.3c-4.379-2.55-7.029-5.19-8.382-7.67-1.36-2.5-1.41-4.86-.514-6.67.887-1.79 2.647-2.91 4.601-3.01 1.651-.09 3.368.56 4.798 2.01 1.429-1.45 3.146-2.1 4.796-2.01 1.954.1 3.714 1.22 4.601 3.01.896 1.81.846 4.17-.514 6.67z"]{
        
        d: path("M 18.4,22.2 C 17.6,22.6 13.1,19.2 12.3,19.2 11.4,19.2 7,22.7 6.3,22.3 5.6,21.8 7.6,16.3 7.3,15.5 7.1,14.8 2.2,11.7 2.5,10.9 2.7,10.1 8.5,10.4 9.2,9.8 9.7,9.3 11.2,3.7 12.1,3.7 12.9,3.7 14.5,9.2 15.1,9.7 15.8,10.3 21.6,9.9 21.9,10.7 22.1,11.4 17.4,14.8 17,15.4 16.8,16.3 18.9,21.6 18.4,22.2 Z")  !important;
        
        fill-opacity: 1;
        stroke: rgb(244, 144, 12);
        fill: rgb(244, 144, 12) !important;
        stroke-width: 1;
        
    }
    
    /*
    ふぁぼにカーソル合わせた時に周囲がオレンジになるように
    */
    div.css-175oi2r.r-xoduu5.r-1p0dtai.r-1d2f490.r-u8s1d.r-zchlnj.r-ipm5af.r-sdzlij.r-xf4iuw.r-o7ynqc.r-6416eg.r-1krxqcr.r-1ny4l3l{
        
        background: rgba(244, 144, 12,0.09) !important;
        
    }
    
    /*
    ふぁぼにカーソル合わせた時に線がオレンジになるように
    */
    
    div.css-175oi2r.r-18u37iz.r-1h0z5md.r-13awgt0>button.css-175oi2r.r-1777fci.r-bt1l66.r-bztko3.r-lrvibr.r-1loqt21.r-1ny4l3l:hover>div.css-146c3p1.r-bcqeeo.r-1ttztb7.r-qvutc0.r-1qd0xha.r-a023e6.r-rjixqe.r-16dba41.r-1awozwy.r-6koalj.r-1h0z5md.r-o7ynqc.r-clp7b1.r-3s2u2q>div.css-175oi2r.r-xoduu5>svg.r-4qtqp9.r-yyyyoo.r-dnmrzs.r-bnwqim.r-lrvibr.r-m6rgpd.r-1xvli5t.r-1hdv0qi>g>path[d="M16.697 5.5c-1.222-.06-2.679.51-3.89 2.16l-.805 1.09-.806-1.09C9.984 6.01 8.526 5.44 7.304 5.5c-1.243.07-2.349.78-2.91 1.91-.552 1.12-.633 2.78.479 4.82 1.074 1.97 3.257 4.27 7.129 6.61 3.87-2.34 6.052-4.64 7.126-6.61 1.111-2.04 1.03-3.7.477-4.82-.561-1.13-1.666-1.84-2.908-1.91zm4.187 7.69c-1.351 2.48-4.001 5.12-8.379 7.67l-.503.3-.504-.3c-4.379-2.55-7.029-5.19-8.382-7.67-1.36-2.5-1.41-4.86-.514-6.67.887-1.79 2.647-2.91 4.601-3.01 1.651-.09 3.368.56 4.798 2.01 1.429-1.45 3.146-2.1 4.796-2.01 1.954.1 3.714 1.22 4.601 3.01.896 1.81.846 4.17-.514 6.67z"]{
        
        stroke: rgb(244, 144, 12) !important;
        
    }
    
    
    /*
    ツイート詳細画面でもオレンジになるように
    */
    div.css-175oi2r.r-18u37iz.r-1h0z5md.r-13awgt0>button.css-175oi2r.r-1777fci.r-bt1l66.r-bztko3.r-lrvibr.r-1loqt21.r-1ny4l3l:hover>div.css-146c3p1.r-bcqeeo.r-1ttztb7.r-qvutc0.r-1qd0xha.r-a023e6.r-rjixqe.r-16dba41.r-1awozwy.r-6koalj.r-1h0z5md.r-o7ynqc.r-clp7b1.r-3s2u2q>div.css-175oi2r.r-xoduu5>svg.r-4qtqp9.r-yyyyoo.r-dnmrzs.r-bnwqim.r-lrvibr.r-m6rgpd.r-50lct3.r-1srniue>g>path[d="M16.697 5.5c-1.222-.06-2.679.51-3.89 2.16l-.805 1.09-.806-1.09C9.984 6.01 8.526 5.44 7.304 5.5c-1.243.07-2.349.78-2.91 1.91-.552 1.12-.633 2.78.479 4.82 1.074 1.97 3.257 4.27 7.129 6.61 3.87-2.34 6.052-4.64 7.126-6.61 1.111-2.04 1.03-3.7.477-4.82-.561-1.13-1.666-1.84-2.908-1.91zm4.187 7.69c-1.351 2.48-4.001 5.12-8.379 7.67l-.503.3-.504-.3c-4.379-2.55-7.029-5.19-8.382-7.67-1.36-2.5-1.41-4.86-.514-6.67.887-1.79 2.647-2.91 4.601-3.01 1.651-.09 3.368.56 4.798 2.01 1.429-1.45 3.146-2.1 4.796-2.01 1.954.1 3.714 1.22 4.601 3.01.896 1.81.846 4.17-.514 6.67z"]{
        
        stroke: rgb(244, 144, 12) !important;

    }
    
    /*
    ふぁぼられた数
    */
    /*
    カーソル重ねた時
    */
    div.css-175oi2r.r-18u37iz.r-1h0z5md.r-13awgt0>button.css-175oi2r.r-1777fci.r-bt1l66.r-bztko3.r-lrvibr.r-1loqt21.r-1ny4l3l[data-testid="like"]:hover>div.css-146c3p1.r-bcqeeo.r-1ttztb7.r-qvutc0.r-1qd0xha.r-a023e6.r-rjixqe.r-16dba41.r-1awozwy.r-6koalj.r-1h0z5md.r-o7ynqc.r-clp7b1.r-3s2u2q>div.css-175oi2r.r-xoduu5.r-1udh08x>span[data-testid="app-text-transition-container"]>span.css-1jxf684.r-1ttztb7.r-qvutc0.r-1tl8opc.r-n6v787.r-1cwl3u0.r-1k6nrdp.r-n7gxbd>span.css-1jxf684.r-bcqeeo.r-1ttztb7.r-qvutc0.r-1tl8opc{
        
        color: rgb(244, 144, 12) !important;
        
        /*transition-timing-function: ease-out;*/
        transition-duration: 0.3s;
    }
    /*
    ふぁぼった後の数字
    */
    button.css-175oi2r.r-1777fci.r-bt1l66.r-bztko3.r-lrvibr.r-1loqt21.r-1ny4l3l[data-testid="unlike"]>div.css-146c3p1.r-bcqeeo.r-1ttztb7.r-qvutc0.r-1qd0xha.r-a023e6.r-rjixqe.r-16dba41.r-1awozwy.r-6koalj.r-1h0z5md.r-o7ynqc.r-clp7b1.r-3s2u2q>div.css-175oi2r.r-xoduu5.r-1udh08x>span>span.css-1jxf684.r-1ttztb7.r-qvutc0.r-1tl8opc.r-n6v787.r-1cwl3u0.r-1k6nrdp.r-n7gxbd>span.css-1jxf684.r-bcqeeo.r-1ttztb7.r-qvutc0.r-1tl8opc{
        
        color: rgb(244, 144, 12) !important;
        
    }
    
    
}
